@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pri-fontcolor:grey;
  /* indian ludo */
  --ludo-red:red;
  --ludo-blue:blue;
  --ludo-green:green;
  --ludo-yellow:yellow;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  display: block;
  text-align: center;
  border: 1px solid var(--pri-fontcolor);
  border-radius: 5px;
  color: var(--pri-fontcolor);
  padding: 5px 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
