/* board */

.playboard{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 80vh;
    margin: auto;
}
.table{
    border: 1px solid var(--pri-fontcolor);
    margin: 5% auto;
    width: 40vw;
    height: 40vw;
}

.table > div{
    display: flex;
    width: 100%;
    height: 20%;
}
.table > div > div{
    border: 1px solid var(--pri-fontcolor);
    position: relative;
    height: 100%;
    width: 20%;
}

.scaleup{
    scale: 1.5;
}

.home, .destination{
    position: relative;
    width: 100%;
    height: 100%;
}
.home > span, .destination > span{
    display: block;
    width: calc(100% * 1.414);
    height: 0vw;
    position: absolute;
    border: 1px solid var(--pri-fontcolor);
}
.home > span:first-child, .destination>span:first-child{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.home > span:nth-child(2), .destination>span:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.home[data-home-color="red"]{
    background-color: rgba(255, 0, 0, 0.1);
}
.home[data-home-color = "blue"]{
    background-color:  rgba(0, 0, 255, 0.1);
}
.home[data-home-color = "green"]{
    background-color:  rgba(0, 128, 0, 0.1);
}
.home[data-home-color = "yellow"]{
    background-color:  rgba(255, 255, 0, 0.1);
}

.destination{
    background-color: rgba(255, 255, 255, 0.1);
}

/* playerpawns */
.playerpawns {
    position: absolute;
    width: 25%;
    height: 25%;
    border: 1px solid var(--pri-fontcolor);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    border-radius: 50%;
}

.playerpawns[data-player-color="red"]{
    background-color: var(--ludo-red);
    border:1px solid var(--ludo-red);
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}
.playerpawns[data-player-color="blue"]{
    background-color: var(--ludo-blue);
    border:1px solid var(--ludo-blue);
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}
.playerpawns[data-player-color="green"]{
    background-color: var(--ludo-green);
    border:1px solid var(--ludo-green);
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}
.playerpawns[data-player-color="yellow"]{
    background-color: var(--ludo-yellow);
    border:1px solid var(--ludo-yellow);
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

.playerpawnsOnTurn[data-player-color="red"]{
    transform: translate(-25%, 25%);
    scale: 2;
}
.playerpawnsOnTurn[data-player-color="blue"]{
    transform: translate(-25%, -25%);
    scale: 2;
}
.playerpawnsOnTurn[data-player-color="green"]{
    transform: translate(25%, -25%);
    scale: 2;
}
.playerpawnsOnTurn[data-player-color="yellow"]{
    transform: translate(-25%, -25%);
    scale: 2;
}

/* dice */
.diceBox{
    border: 1px solid var(--pri-fontcolor);
    width: 40vw;
    height: 40vw;
    margin: 5% auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.diceBox p{
    font-size: 32px;
}

/* player board */
.playerBoard{
    border: 1px solid var(--pri-fontcolor);
    width: 60%;
    height: 400px;
    margin: 5% auto;
    padding: 5%;
    box-sizing: border-box;
}
.playerBoard>div{
    margin: 2% auto;
    border: 1px solid var(--pri-fontcolor);
    padding: 2% 4%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.playerBoard>div > *{
    margin: 0 2%;
}

.playerColor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #404040;

}
.playerColor[data-player-color = "red"]{
    box-shadow:0 0 10px 1px red;
}
.playerColor[data-player-color = "blue"]{
    box-shadow:0 0 10px 1px blue    ;
}
.playerColor[data-player-color = "green"]{
    box-shadow:0 0 10px 1px green;
}
.playerColor[data-player-color = "yellow"]{
    box-shadow:0 0 10px 1px yellow;
}